*

!/.bash_logout
!/.bash_profile
!/.bashrc
!/.gitconfig
!/.gitexclude
!/.gitignore
!/.gitmodules
!/.hammerspoon
!/.hammerspoon/**
!/.inputrc
!/.profile
!/.slate
!/.tmux.conf
!/.vim
!/.vim/**
!/.vimrc
!/Makefile
!/README.md
!/manual-requirements.txt
!/supervisord.conf

.vim/.VimballRecord
.vim/.netrwhist
