[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-minimap"]
	path = .vim/bundle/vim-minimap
	url = https://github.com/severin-lemaignan/vim-minimap.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vim/bundle/pythoncomplete"]
	path = .vim/bundle/pythoncomplete
	url = git@github.com:vim-scripts/pythoncomplete.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule ".vim/bundle/paredit.vim"]
	path = .vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim
[submodule ".vim/bundle/vim-sexp-mappings-for-regular-people"]
	path = .vim/bundle/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people
[submodule ".vim/bundle/vim-sexp"]
	path = .vim/bundle/vim-sexp
	url = https://github.com/guns/vim-sexp
[submodule ".vim/bundle/coconut.vim"]
	path = .vim/bundle/coconut.vim
	url = https://github.com/manicmaniac/coconut.vim
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-antlr"]
	path = .vim/bundle/vim-antlr
	url = git@github.com:jrozner/vim-antlr.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/async.vim"]
	path = .vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule ".vim/bundle/stan-vim"]
	path = .vim/bundle/stan-vim
	url = https://github.com/eigenfoo/stan-vim
[submodule ".vim/bundle/vim-jsx-pretty"]
	path = .vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/bundle/vimoutliner"]
	path = .vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule ".vim/bundle/vim-bazel"]
	path = .vim/bundle/vim-bazel
	url = https://github.com/bazelbuild/vim-bazel.git
[submodule ".vim/bundle/vim-maktaba"]
	path = .vim/bundle/vim-maktaba
	url = https://github.com/google/vim-maktaba.git
[submodule ".vim/bundle/vim-capslock"]
	path = .vim/bundle/vim-capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule ".vim/bundle/jupytext.vim"]
	path = .vim/bundle/jupytext.vim
	url = https://github.com/goerz/jupytext.vim
