[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/editorconfig/syntastic.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-minimap"]
	path = .vim/bundle/vim-minimap
	url = https://github.com/severin-lemaignan/vim-minimap.git
[submodule ".vim/bundle/project"]
	path = .vim/bundle/project
	url = https://github.com/vim-scripts/project.tar.gz
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
