[user]
  # see .gitconfig.local for email
  name = Roald de Vries
[push]
  default = simple
[log]
  decorate = true
[core]
  excludesfile = ~/.gitexclude
[diff]
  tool = vimdiff
[pull]
  rebase = true
[include]
  path = .gitconfig.local
