[user]
  # see .gitconfig.local for email
  name = Roald de Vries
[push]
  default = simple
[log]
  decorate = true
[core]
  excludesfile = ~/.gitexclude
[diff]
  tool = vimdiff
  algorithm = patience
[pull]
  rebase = true
[credential]
  helper = osxkeychain
  # helper = cache --timeout 14400
[merge]
  conflictstyle = diff3
  tool = vimdiff
[rebase]
  autoStash = true
[include]
  path = .gitconfig.local
